.chartLine{
  stroke-width: 2px
}

.laserProf{
  stroke: #ff19ff
}

.laserProfLabel{
  fill: #ff19ff
}

.fluo{
  stroke: #baee02
}

.fluoLabel{
  fill: hsl(73, 98%, 37%)
}

.timeMarker{
  stroke: "black"
}
